<aside class="sidebar">
    <div class="nav-group">
        <h3>Genres</h3>
        <ul>
            <% genresList.forEach(genre => { %>
                <li>
                    <a href="/games?genre=<%= genre.id %>" class="<%= (currentPath === '/games' && currentQuery.genre == genre.id) ? 'active' : '' %>"><%= genre.name %></a>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="nav-group">
        <h3>Platforms</h3>
        <ul>
            <% platformsList.forEach(platform => { %>
                <li>
                    <a href="/games?platform=<%= platform.id %>" class="<%= (currentPath === '/games' && currentQuery.platform == platform.id) ? 'active' : '' %>"><%= platform.name %></a>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="nav-group">
        <h3>Quick Actions</h3>
        <ul>
            <li><a href="/games/new">Add Game</a></li>
            <li><a href="/genres">Add Genre</a></li>
            <li><a href="/platforms">Add Platform</a></li>
        </ul>
    </div>
</aside>