<html>
  <head></head>
  <body>
    <%- include('partials/errors') %>
    <div class="platforms">
        <h3>Platforms</h3>
            <ul>
                <% platformsList.forEach(platform => { %>
                    <li>
                        <a href="/platforms/<%= platform.id %>"><%= platform.name %></a>
                        <button type="button" class="open-delete-btn" data-id="<%= platform.id %>" data-name="<%= platform.name %>">
                          Delete
                        </button>
                    </li>
                <% }) %>
            </ul>
    </div>
    <a href="/">Back to home</a>
    <form action="/platforms/new" method="POST">
      <label for="platform">Platform name:</label>
      <input type="text" name="platform" id="platform" required />
      <button type="submit">Add Platform</button>
    </form>
     <dialog id="delete-modal">
      <form action="" id="delete-form" method="POST">
        <h3>Are you sure you want to delete <span id="modal-genre-name"></span>platform ?</h3>
        <p>Please enter the admin password to confirm:</p>
        <input type="password" name="adminPassword" id="adminPassword" required placeholder="Admin PIN">
        <div class="modal-actions">
          <button type="button" id="close-modal-btn">Cancel</button>
          <button type="submit">Confirm Delete</button>
        </div> 
      </form>
    </dialog>
     <script>
      const deleteDialog = document.getElementById('delete-modal');
      const deleteForm = document.getElementById('delete-form');
      const genreName = document.getElementById('modal-genre-name');
      document.querySelectorAll('.open-delete-btn').forEach((btn) => btn.addEventListener('click', (e) => {
        const {id, name} = e.target.dataset;
        genreName.textContent = name;
        deleteForm.setAttribute('action', `/platforms/${id}/delete` );
        deleteDialog.showModal();
        document.getElementById('close-modal-btn').addEventListener('click', () => {
          deleteDialog.close();
        })
      }))
    </script>
  </body>
</html>
