<html>
  <head></head>
  <body>
    <%- include("partials/errors") %>
    <h1>Edit Game</h1>
    <form action="/games/<%= game.id %>/edit" method="POST">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="<%= game.title %>" required/>
      <label for="developer">Developer:</label>
      <input type="text" name="developer_name" id="developer_name" value="<%= game.developer_name %>" required/>
      <label for="publisher">Publisher:</label>
      <input type="text" name="publisher_name" id="publisher_name" value="<%= game.publisher_name %>" required/>
      <label for="date">Release Date:</label>
      <input type="date" name="release_date" id="release_date" value="<%= game.release_date ? new Date(game.release_date).toLocaleDateString('sv-SE') : '' %>" required/>
      <label for="price">Price:</label>
      <input type="text" name="price" id="price" value="<%= game.price %>" required/>
      <label for="coverImg">Cover Image URL</label>
      <input type="text" name="cover_iamge_url" id="cover_image_url" value="<%= game.cover_image_url %>"/>
        <fieldset>
            <legend>Genres</legend>
            <% genresList.forEach(genre => { %>
                <label><%= genre.name %><input type="checkbox" name="genres" value="<%= genre.id %>"<%= game.genres.includes(genre.name) || game.genres.includes(String(genre.id)) ? 'checked' : '' %>/></label>
            <% }) %>
        </fieldset>
        <fieldset>
            <legend>Platforms</legend>
            <% platformsList.forEach(platform => { %>
                <label><%= platform.name %><input type="checkbox" name="platforms" value="<%= platform.id %>"<%= game.platforms.includes(platform.name) || game.platforms.includes(String(platform.id)) ? 'checked' : '' %>/></label>
            <% }) %>
        </fieldset>
        <button type="submit">Update Game</button>
    </form>
    <a href="./">Back</a>
  </body>
</html>
