<html>
  <head>
     <%-include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <%- include('partials/errors') %>
    <div class="workspace-wrapper">
       <%- include('partials/sidebar') %>
      <div class="mainpanel-genrescontainer">
        <div class="genres-header">
          <div class="header-text">
            <h1>Game Genres</h1>
            <p>Manage and browse games by category</p>
          </div>
            <form action="/genres" method="POST" class="add-genre-form">
            <label for="genre">Genre name:</label>
            <input type="text" name="genre" id="genre" required placeholder="New genre name (e.g. RPG, Action)..."/>
            <button type="submit">Add Genre</button>
          </form>
        </div>
        <div class="genres-grid">
          <% genresList.forEach(genre => { %>
            <div class="genre-card">
              <div class="genre-card-header">
                 <button 
                  type="button" 
                  class="genre-delete-btn open-delete-btn" 
                  data-name="<%= genre.name %>"
                  data-type="genre"
                  data-action="/genres/<%= genre.id %>/delete">
                  Delete
                </button>
              </div>
              <div class="genre-card-body">
                <h3>
                  <a href="/games?genre=<%= genre.id %>"><%= genre.name %></a>
                </h3>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
    <%- include('partials/deleteModal') %>
  </body>
</html>
