<html>
    <head>
        <%-include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <div class="workspace-wrapper">
            <%- include('partials/sidebar') %>
            <main class="main-content">
                <div class="grid-header">
                    <h1>Games</h1>
                    <a href="/games/new">Add Game</a>
                </div>
                <div class="games-grid">
                    <% gamesList.forEach(game => { %>
                        <div class="game-card">
                            <div class="card-image">
                                <% if(game.cover_image_url) { %>
                                    <img src="<%= game.cover_image_url %>" alt="<%= game.title %>">
                                <% } else { %>
                                    <span>Cover not available</span>
                                    <% } %>
                            </div>
                            <div class="card-content">
                                <h3>
                                    <a href="/games/<%= game.id %>"><%= game.title %></a>
                                </h3>
                                <p><%= game.price %>€</p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </main>
            <% if (locals.isFiltered) { %>
                <a href="/">Back to home</a>
            <% } %>
        </div>
        <script>
            const currentUrl = window.location.pathname + window.location.search;
            document.querySelectorAll('.sidebar a').forEach(link => {
                if(link.getAttribute('href') === currentUrl){
                    link.classList.add('active');
                }
            })
        </script>
    </body>
</html>