<html>
  <head>
     <%-include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <%- include('partials/errors') %>
    <div class="workspace-wrapper">
       <%- include('partials/sidebar') %>
      <div class="mainpanel-platformscontainer">
        <div class="platforms-header">
          <div class="header-text">
            <h1>Game Platforms</h1>
            <p>Manage and browse games by category</p>
          </div>
            <form action="/platforms" method="POST" class="add-platform-form">
            <label for="platform">Platform name:</label>
            <input type="text" name="platform" id="platform" required placeholder="New platform name (e.g. PS5, PC)."/>
            <button type="submit">Add Platform</button>
          </form>
        </div>
        <div class="platforms-grid">
          <% platformsList.forEach(platform => { %>
            <div class="platform-card">
              <div class="platform-card-header">
                 <button type="button" class="open-delete-btn" data-id="<%= platform.id %>" data-name="<%= platform.name %>">Delete</button>
              </div>
              <div class="platform-card-body">
                <h3>
                  <a href="/games?platform=<%= platform.id %>"><%= platform.name %></a>
                </h3>
              </div>
            </div>
          <% }) %>
        </div>
      
        <dialog id="delete-modal">
          <form action="" id="delete-form" method="POST">
            <h3>Are you sure you want to delete <span id="modal-platform-name"></span> platform ?</h3>
            <p>Please enter the admin password to confirm:</p>
            <input type="password" name="adminPassword" id="adminPassword" required placeholder="Admin PIN">
            <div class="modal-actions">
              <button type="button" id="close-modal-btn">Cancel</button>
              <button type="submit">Confirm Delete</button>
            </div>
          </form>
        </dialog>
      </div>
    </div>
    <script>
      const deleteDialog = document.getElementById('delete-modal');
      const deleteForm = document.getElementById('delete-form');
      const platformName = document.getElementById('modal-platform-name');
      document.querySelectorAll('.open-delete-btn').forEach((btn) => btn.addEventListener('click', (e) => {
        const {id, name} = e.target.dataset;
        platformName.textContent = name;
        deleteForm.setAttribute('action', `/platforms/${id}/delete` );
        deleteDialog.showModal();;
      }))
      document.getElementById('close-modal-btn').addEventListener('click', () => {
          deleteDialog.close();
        })
    </script>
  </body>
</html>
